<html>
<body>
{% trans_default_domain 'FOSUserBundle' %}
Hi {{ invite_email }}<br><br>
You have been invited to join {{ league_email }}'s fantasy league of the RVA racing league.<br><br>
League Name: {{ league_name }}<br><br>
<a href="http://rva.dev/register/">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>&nbsp;|&nbsp;<a href="http://rva.dev/login">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
</body>
</html>