{% embed '::layout.html.twig' %}

    {% block styles %}
        <style>
            .active-league { display:block;background:#dce6ef;padding:15px 10px 15px 10px;color:#000000;text-align:left;cursor:pointer;border-radius:4px;font-weight:700;font-size:22px;margin-bottom:10px; }
            .active-league:hover { background: #6d8dbf; color: #ffffff;  }
            .active-league .fa-flag-checkered { margin-left: 5px; margin-right: 10px; color: #1a2d4c; }
            .create-league-container { margin-top: 10px; background: #f2f2f2; border-top: 1px solid #ccc; padding: 10px; }
        </style>
    {% endblock %}

    {% block message %}
        <div class="race-name-info dimension-10 mobile-dimension-11">
            <div class="race-name">
                <i class="fa fa-tachometer" aria-hidden="true"></i>
                {{ activerace.racename }}
            </div>
            <div class="race-info">
                {{ activerace.trackname }} in {{ activerace.location }}<br />
                Track Length: {{ activerace.tracklength }}
            </div>
            <div class="race-date">
                {{ activerace.racedate.date | date("F d, Y") }}<br class="race-time-break" />{{ activerace.racedate.date | date("g:ia") }}
            </div>
        </div>
    {% endblock %}

    {% block content %}
        <div class="content-container dimension-10">

            <div class="dashboard-container">
                <h2>My Leagues</h2>
                <div class="home-leagues-container">
                    <form name="leagueForm" id="leagueForm" method="post">
                        <div>
                            <div class="leagues-container">
                                {% for league in myleagues %}
                                    <div class="active-league">
                                        {% if league.league.id == activeleague.id %}
                                            <i class="fa fa-flag-checkered" aria-hidden="true"></i>
                                        {% endif %}
                                        {{ league.league.name }}
                                        <input type="hidden" name="active-league-id" value="{{ league.league.id }}" />
                                    </div>
                                {% endfor %}
                                {% if myleagues is defined and myleagues|length == 0 %}
                                    <span style="font-style:italic;">No Active Leagues</span>
                                {% endif %}

                                {% if invitedleagues is defined and invitedleagues|length > 0 %}
                                    <div class="invite-league-container">
                                        <h2>Invited Leagues</h2>
                                        {% for inviteUser in invitedleagues %}
                                            <div class="invited-league" id="league{{ loop.index }}">
                                                <div class="league-info">
                                                    <div><strong>{{ inviteUser.league.name }}</strong></div>
                                                    <div>Owner: {{ inviteUser.league.fosuser.email }}</div>
                                                    <input type="hidden" value="{{ LeagueInvite.leagueHash(inviteUser.league.id, inviteUser.league.fosuser.email) }}" name="inviteleague" />
                                                    <input type="hidden" value="{{ inviteUser.league.fosuser.email }}" name="inviteleague_email" />
                                                </div>
                                                <div class="accept-league">Join League</div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                <div class='create-league-container'>
                                    <a href="{{ path("app.rva.leaguecreate") }}">Create League</a>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="home-info-container">
                    <div style="padding:15px;">
                        <h3>Last Race</h3>
                        {% if lastrace.race is defined and  lastrace.race is not empty %}{{ lastrace.race.racename }} - <a href="{{ path('app.rva.raceresults', {'race':lastrace.race.id}) }}">Results</a><br />{% endif %}
                        {% if lastracewinner is defined and lastracewinner is not empty %}<strong>Winner:</strong> {{ lastracewinner.firstname }} {{ lastracewinner.lastname }} - Points: {{ lastracepoints }}{% endif %}
                        <br />
                        <br />
                        <h3>Active Race</h3>
                        {% if activeleague is not empty %}
                            {{ activerace.racename }} - {{ activerace.location }} - <a href="{{ path('app.rva.raceresults', {'race':activerace.id}) }}">Results</a><br /><br />
                            League: {{ activeleague.name }}<br />
                        {% else %}
                            <span style="font-style:italic">N/A</span>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    {% endblock %}

    {% block javascripts %}
        <script type="text/javascript">
            $(document).ready(function() {
                $(".active-league").each(function(){
                    $(this).on("click", function(){
                        window.location.href = '/league/'+$(this).find("input[name=active-league-id]").val();
                    });
                });
            });
        </script>
    {% endblock %}

{% endembed %}

