{% embed '::layout.html.twig' %}

    {% block content %}

        <div class="register container-fluid container-wrapper">

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>

                <h3 class="text-center">INVITE TEAM MEMBER</h3>
                <hr>

                {{ league.name }}

                {% if invited is defined and invited is not empty %}
                    <h4>{{ invited }} has been sent an invitation.</h4>
                {% endif %}

                {{ form_start(form) }}
                {{ form_label(form.email) }}
                {{ form_errors(form.email) }}
                {{ form_widget(form.email) }}
                {{ form_end(form) }}

            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}



        </div>

    {% endblock %}

{% endembed %}

