{% embed '::layout.html.twig' %}

    {% block mainmenu %}{% endblock %}

    {% block content %}

        <div class="content-container container-6">

            <div style="padding:20px;">
                <h3 class="form-title">Invite Team Member</h3>

                <strong>League:</strong> {{ league.name }}<br /><br />

                {% if invited is defined and invited is not empty %}
                    <h4>{{ invited }} has been sent an invitation.</h4><br />
                {% endif %}

                {{ form_start(form) }}
                {{ form_label(form.email) }}
                {{ form_errors(form.email) }}
                {{ form_widget(form.email) }}
                {{ form_end(form) }}
            </div>

        </div>

    {% endblock %}

{% endembed %}

