{% embed '::layout.html.twig' %}
{% block mainmenu %}{% endblock %}

    {% block content %}

        <div class="content-container container-6">

            <div style="padding:20px;">
                {% if register is defined %}

                    <h3 class="form-title">Race League Created</h3>
                    <p>Thank you for creating your race league. An email has been sent to <strong>{{ email }}</strong> with an activation code.
                    You must activate your race league before you can invite users.</p>

                {% else %}

                    <h3 class="form-title">Create League</h3>

                    {{ form_start(form) }}
                    {{ form_label(form.name) }}
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name) }}
                    {{ form_end(form) }}

                {% endif %}
            </div>
        </div>

    {% endblock %}

{% endembed %}

