{% embed '::layout.html.twig' %}

    {% block styles %}
        <style>
            .driver-container {
                width:100%;padding:8px 0 6px 0;background:#f2f2f2;margin-bottom:1px;border-bottom:0px solid #fff;font-size:20px;min-height:35px;
            }
            .standings-table td {
                padding: 8px;
                background: #f2f2f2;
            }

        </style>
    {% endblock %}

    {% block content %}

        <div class="content-container dimension-10 mobile-dimension-11">
            <div class="dashboard-container">
                <div class="drivers-header-information">
                    <div class="racename">
                        <i class="fa fa-calendar" aria-hidden="true"></i>League Standings
                    </div>
                    <div class="league">
                        {{ activeleague.name }}
                    </div>
                </div>
                <div style="padding-bottom:40px;clear:left;">

                    <div style="width:100%;">
                    <table border="0" cellpadding="0" cellspacing="2" style="width:100%;" class="standings-table">
                        {% for uid, points in totalpoints %}
                            <tr>
                                <td style="width:50px;text-align:center;">{{ loop.index }}</td>
                                <td>{{ fosusers[uid].firstname }} {{ fosusers[uid].lastname }}</td>
                                <td style="width:100px;text-align:center;">{{ points }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    </div>
                </div>


            </div>
        </div>

    {% endblock %}

    {% block javascripts %}
        <script type="text/javascript">
            $(document).ready(function() {

            });
        </script>
    {% endblock %}

{% endembed %}

