<div class="main-menu">
    <ul>
        <li><a href="{{ path('app.rva.raceschedule') }}">Schedule</a></li>
        <li><a href="{{ path('app.rva.racelineups', {'race':activerace.id}) }}">League Lineups</a></li>
        <li><a href="{{ path('app.rva.mylineup') }}">My Lineup</a></li>
        <li><a href="{{ path('app.rva.leaguestandings') }}">Standings</a></li>
        <li><a href="{{ path('app.rva.driversinfo') }}">Stats</a></li>
    </ul>
</div>
