<div class="main-menu">
    <ul>
        <li><i class="fa fa-calendar" aria-hidden="true"></i><a href="{{ path('app.rva.raceschedule') }}">Race Schedule</a></li>
        <li><i class="fa fa-list-alt" aria-hidden="true"></i><a href="{{ path('app.rva.racelineups', {'race':activerace.id}) }}">Weekly Lineups</a></li>
        <li><i class="fa fa-car" aria-hidden="true"></i><a href="{{ path('app.rva.selectteam') }}">My Drivers</a></li>
        <li><i class="fa fa-trophy" aria-hidden="true"></i><a href="{{ path('app.rva.leaguestandings') }}">Standings</a></li>
        <li><i class="fa fa-bar-chart" aria-hidden="true"></i><a href="{{ path('app.rva.driversinfo') }}">Stats</a></li>
    </ul>
</div>
