{% embed '::layout.html.twig' %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/lineup.css') }}" />
    {% endblock %}

    {% block styles %}
        <style></style>
    {% endblock %}

    {% block message %}
        <div class="race-name-info dimension-10 mobile-dimension-11">
            <div class="race-name">
                <i class="fa fa-tachometer" aria-hidden="true"></i>
                {{ activerace.racename }}
            </div>
            <div class="race-info">
                {{ activerace.trackname }} in {{ activerace.location }}<br />
                Track Length: {{ activerace.tracklength }}
            </div>
            <div class="race-date">
                {{ activerace.racedate.date | date("F d, Y") }}<span class="race-time">{{ activerace.racedate.date | date("g:ia") }}</span>
            </div>
        </div>
    {% endblock %}

    {% block content %}

        <div class="content-container dimension-10 mobile-dimension-11">

            <div class="dashboard-container">

                <div class="drivers-header-information">
                    <div>{{ activeleague.name }}</div>
                </div>
                <div class="drivers-selection-container">
                    <form name="leagueForm" id="leagueForm" method="post">
                        <div class="lineup-container mylineup">
                            <div class="lineup-header">
                                <p>My Lineup</p>
                                {% if mydrivers and race_locked == false %}<i class="fa fa-pencil-square-o edit-drivers" aria-hidden="true"></i>{% elseif race_locked == true %}<i class="fa fa-lock" aria-hidden="true"></i>{% endif %}
                            </div>
                            <div class="driver-selection {{ lineup_status }}">
                                <div class="selection-container">
                                    {% if mydrivers %}
                                        <div class="driver-number">{{ mydrivers.0.number }}</div><div class="driver-name">{{ mydrivers.0.firstname }} {{ mydrivers.0.lastname }}</div>
                                        <input type="hidden" name="driverSelection[]" value="{{ mydrivers.0.id }}" />
                                    {% endif %}
                                </div>
                            </div>
                            <div class="driver-selection {{ lineup_status }}">
                                <div class="selection-container right">
                                    {% if mydrivers %}
                                        <div class="driver-number">{{ mydrivers.1.number }}</div><div class="driver-name">{{ mydrivers.1.firstname }} {{ mydrivers.1.lastname }}</div>
                                        <input type="hidden" name="driverSelection[]" value="{{ mydrivers.1.id }}" />
                                    {% endif %}
                                </div>
                            </div>
                            <div class="driver-selection {{ lineup_status }}">
                                <div class="selection-container">
                                    {% if mydrivers %}
                                        <div class="driver-number">{{ mydrivers.2.number }}</div><div class="driver-name">{{ mydrivers.2.firstname }} {{ mydrivers.2.lastname }}</div>
                                        <input type="hidden" name="driverSelection[]" value="{{ mydrivers.2.id }}" />
                                    {% endif %}
                                </div>
                            </div>
                            <div class="driver-selection {{ lineup_status }}">
                                <div class="selection-container right">
                                    {% if mydrivers %}
                                        <div class="driver-number">{{ mydrivers.3.number }}</div><div class="driver-name">{{ mydrivers.3.firstname }} {{ mydrivers.3.lastname }}</div>
                                        <input type="hidden" name="driverSelection[]" value="{{ mydrivers.3.id }}" />
                                    {% endif %}
                                </div>
                            </div>
                            <div class="driver-selection {{ lineup_status }}">
                                <div class="selection-container">
                                    {% if mydrivers %}
                                        <div class="driver-number">{{ mydrivers.4.number }}</div><div class="driver-name">{{ mydrivers.4.firstname }} {{ mydrivers.4.lastname }}</div>
                                        <input type="hidden" name="driverSelection[]" value="{{ mydrivers.4.id }}" />
                                    {% endif %}
                                </div>
                            </div>
                            <div class="driver-selection {{ lineup_status }}">
                                <div class="selection-container right">
                                    {% if mydrivers %}
                                        <div class="driver-number">{{ mydrivers.5.number }}</div><div class="driver-name">{{ mydrivers.5.firstname }} {{ mydrivers.5.lastname }}</div>
                                        <input type="hidden" name="driverSelection[]" value="{{ mydrivers.5.id }}" />
                                    {% endif %}
                                </div>
                            </div><br /><br />
                            <div class="team-submission disabled">Submit Lineup</div>
                        </div>

                        <div class="lineup-container">

                            <div class="drivers-container">
                                <div class="drivers-list lineup-header">
                                    <div class="name-col"><p>Drivers</p></div>
                                    <div class="stats-col">
                                        <div class="top10s">Top 10s</div><div class="top5s">Top 5s</div><div class="avg">Avg</div><div class="wins">Wins</div>
                                    </div>
                                    <div class="league-col">
                                        <div class="picks">Picks</div><div class="points">Points</div>
                                    </div>
                                </div>
                                {% for rid, points in driverpoints %}
                                    {% if drivers[rid].inactive == 0 %}
                                        <div class="drivers-list-wrapper">
                                            <div class="driver-container name-col" id="driver{{ rid }}">
                                                <!--<i class="fa fa-plus-square" aria-hidden="true"></i>-->
                                                <div class="driver-number">{{ drivers[rid].number }}</div>
                                                <div class="driver-name">{{ drivers[rid].firstname }}&nbsp;{{ drivers[rid].lastname }}</div>
                                                <div class="mobile-driver-info"><i class="fa fa-info-circle" aria-hidden="true"></i></div>
                                                {% if drivers[rid].carmake is defined and drivers[rid].carmake is not empty %}<div class="carmake"><img src="{{ asset('images/'~drivers[rid].carmake~'.png') }}" /></div>{% endif %}
                                                <input type="hidden" name="driverid" value="{{ rid }}" />
                                            </div>
                                            <div class="stats-col">
                                                <div class="top10s">{{ drivertoptens[rid] }}</div><div class="top5s">{{ drivertopfives[rid] }}</div><div class="avg">0</div><div class="wins">{{ driverwins[rid] }}</div>
                                            </div>
                                            <div class="league-col">
                                                <div class="picks">0</div><div class="points">{{ points }}</div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                        </div>
                    </form>
                </div>
                <div style="clear:both;"></div>

            </div>
        </div>

    {% endblock %}

    {% block javascripts %}
        <script type="text/javascript">
            $(document).ready(function() {
                $(".driver-container").each(function(){
                    var driver = this;
                    $(this).on("click", function(){

                        if ($(".driver-selection.closed").length >= 6) {
                            console.log("DRIVERS FILLED");
                            return false;
                        }

                        if (!$(driver).hasClass("selected")) {
                            $(driver).addClass("selected");
                            var driverid = $(this).find('input').val();
                            var dshtml = "<div class='driver-number'>"+$(driver).find('.driver-number').html()+"</div>"+
                                         "<div class='driver-name'>"+$(driver).find('.driver-name').html()+"</div>"+
                                         "<div class='remove-driver'><i class='fa fa-window-close' aria-hidden='true'></i></div>"+
                                         "<input type='hidden' name='driverSelection[]' value='"+driverid+"' />";

                            $(".driver-selection.open:first .selection-container").html(dshtml);
                            $(".driver-selection.open:first").addClass("closed");
                            $(".driver-selection.open:first").removeClass("open");

                            if ($(".driver-selection.closed").length == 6) {
			    
                                $(".team-submission").removeClass("disabled");
                                $(".team-submission").addClass("valid");

                                /*var data = {
                                    d1: $($(".driver-selection")[0]).find('input').val(),
                                    d2: $($(".driver-selection")[1]).find('input').val(),
                                    d3: $($(".driver-selection")[2]).find('input').val(),
                                    d4: $($(".driver-selection")[3]).find('input').val(),
                                    d5: $($(".driver-selection")[4]).find('input').val(),
                                    d6: $($(".driver-selection")[5]).find('input').val()
                                };
                                $.ajax({
                                    url: "/race/checksubmission",
                                    method: "post",
                                    dataType: "json",
                                    data: data,
                                    success: function (xhr) {
                                        console.log(xhr);
                                        if (xhr.available == false) {
                                            alert("Lineup Already Taken");
                                            // TODO: disabled submit button
                                        } else {
                                            $(".team-submission").removeClass("disabled");
                                            $(".team-submission").addClass("valid");
                                        }
                                    },
                                    error: function (xhr) {
                                        console.log(xhr);
                                    }
                                });*/
                            }
                        }
                    });
                });
                $(document).on("click", ".remove-driver", function(){
                    $("#driver"+$(this).next('input').val()).removeClass("selected");
                    $(this).parent().parent(".driver-selection").removeClass("closed");
                    $(this).parent().parent(".driver-selection").addClass("open");
                    $(this).parent(".selection-container").html("");
                    $(".team-submission").addClass("disabled");
                    $(".team-submission").removeClass("valid");
                });
                $(".team-submission").on("click", function(){
                    if ($(this).hasClass("disabled")) {
                        console.log("submit disabled");
                        return false;
                    }
                    if (!$(this).hasClass("in-progress")) {
                        $(this).addClass("in-progress");
                        $(".team-submission").html("Checking Lineup...");
                        $(".edit-drivers").hide();
                        var data = {
                            d1: $($(".driver-selection")[0]).find('input').val(),
                            d2: $($(".driver-selection")[1]).find('input').val(),
                            d3: $($(".driver-selection")[2]).find('input').val(),
                            d4: $($(".driver-selection")[3]).find('input').val(),
                            d5: $($(".driver-selection")[4]).find('input').val(),
                            d6: $($(".driver-selection")[5]).find('input').val()
                        };
                        $(".remove-driver").hide();
                        $.ajax({
                            url: "/race/checksubmission",
                            method: "post",
                            dataType: "json",
                            data: data,
                            success: function (xhr) {
                                console.log(xhr);
                                if (xhr.available == false) {
                                    alert("Lineup already taken");
                                    $(".team-submission").removeClass("in-progress");
                                    $(".team-submission").addClass("valid");
                                    $(".team-submission").html("Submit Drivers");
                                    $(".remove-driver").show();
                                    // TODO: disabled submit button
                                } else {
                                    console.log("lineup is good!");
                                    $(".team-submission").html("Submitting Drivers...");
                                    $(".remove-driver").remove();
                                    $.ajax({
                                        url: "/race/submission",
                                        method: "post",
                                        dataType: "json",
                                        data: data,
                                        success: function (xhr) {
                                            console.log(xhr);
                                            $(".team-submission").html("Drivers Submitted");
                                            $(".team-submission").addClass("disabled");
                                            $(".team-submission").removeClass("valid");
                                            $(".submit-team-header h3").html("Lineup Submitted");
                                            $(".submit-team-header h3").addClass("submitted");
                                            $(".submit-team-header h3").removeClass("unsubmitted");
                                            $(".edit-drivers").show();
                                            $(".edit-drivers").removeClass("edit-enabled");
                                            alert("Team Submitted Successfully");
                                        },
                                        error: function (xhr) {
                                            console.log(xhr);
                                        }
                                    });
                                }
                            },
                            error: function (xhr) {
                                console.log(xhr);
                            }
                        });
                    }
                });
                $(".edit-drivers").on("click", function(){
                    if (!$(this).hasClass("edit-enabled")) {
                        $(".edit-drivers").addClass("edit-enabled");
                        $(".submit-team-header h3").html("Edit Lineup");
                        $(".team-submission").html("Submit Lineup");
                        $(".team-submission").removeClass("in-progress");
                        $(".driver-selection").each(function () {
                            $(this).find(".driver-name").after("<div class='remove-driver'><i class='fa fa-window-close' aria-hidden='true'></i></div>");
                            var selected_driver = this;
                            $(".driver-container").each(function(){
                                if ($(this).find("input[name=driverid]").val() == $(selected_driver).find("input[type=hidden]").val()) {
                                    $(this).addClass("selected");
                                }
                            });
                        });
                    }
                });
            });
        </script>
    {% endblock %}

{% endembed %}

