{% embed '::layout.html.twig' %}

    {% block styles %}
        <style>
            .driver-container {
                width:100%;padding:8px 0 6px 0;background:#f2f2f2;margin-bottom:1px;border-bottom:0px solid #fff;font-size:20px;min-height:35px;
            }

        </style>
    {% endblock %}

    {% block content %}

        <div class="content-container dimension-10 mobile-dimension-11">
            <div class="dashboard-container">
                <div class="drivers-header-information">
                    <div class="racename">
                        <i class="fa fa-calendar" aria-hidden="true"></i>Race Schedule
                    </div>
                    <div class="league">
                        {{ activeleague.name }}
                    </div>
                </div>
                <div style="padding-bottom:40px;clear:left;">

                    <div style="width:100%;">

                        <div style="">

                            {% for race in schedule %}

                                <div style="width:100%;border-bottom:1px solid #cccccc;padding:10px 0 10px 0;display:table;">
                                    <div style="width:calc(100%/12*4);display:table-cell;vertical-align:middle;background:#f2f2f2;text-transform:uppercase;font-weight:700;font-size:20px;text-align:center;">{{ race.racename }}</div>
                                    <div style="width:calc(100%/12*4);display:table-cell;vertical-align:middle;background:#e1e1e1;">
                                        <div style="padding:5px;">
                                            {{ race.racedate|date('l M. d / g:i A') }}<br />{{ race.trackname }}<br />length: {{ race.tracklength }} mi
                                        </div>
                                    </div>
                                    <div style="width:calc(100%/12*3);display:table-cell;vertical-align:middle;background:#cbd2db;text-align:center;"><a href="{{ path('app.rva.raceresults', {'race':race.id}) }}">Results</a></div>
                                </div>

                            {% endfor %}

                        </div>
                    </div>
                </div>


            </div>
        </div>

    {% endblock %}

    {% block javascripts %}
        <script type="text/javascript">
            $(document).ready(function() {

            });
        </script>
    {% endblock %}

{% endembed %}

