<div class="race-name-info dimension-10 mobile-dimension-11">
    <div class="race-name">
        <i class="fa fa-tachometer" aria-hidden="true"></i>
        {{ activerace.racename }}
    </div>
    <div class="race-info">
        {{ activerace.trackname }} in {{ activerace.location }}<br />
        Track Length: {{ activerace.tracklength }}
    </div>
    <div class="race-date">
        {{ activerace.racedate.date | date("F d, Y") }}<span class="race-time">{{ activerace.racedate.date | date("g:ia") }}</span>
    </div>
</div>